<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <title>小超市</title>
</head>

<body>
  <div id="app">

    <!-- form -->
    <div>
      <el-input v-model="form.name" size="small" style="width: 130px" placeholder="name"></el-input>
      <el-input v-model="form.price" size="small" style="width: 130px" placeholder="price"></el-input>
      <el-button @click="add" type="primary" size="small">add</el-button>
    </div>

    <!-- table -->
    <el-table :data="fruits" style="width: 400px">
      <el-table-column prop="name" label="名称" ></el-table-column>
      <el-table-column prop="price" label="价格" ></el-table-column>
      <el-table-column>
        <template slot-scope="scope">
          <el-button size="mini" type="danger" plain icon="el-icon-delete" @click="dele(scope.$index)"></el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- pagination -->
    <el-pagination layout="prev, pager, next" @current-change="currentChange" :total="total" :page-size="5"></el-pagination>
  </div>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        page: 1,
        total: 0,
        fruits: [],
        form: {}
      },
      created() {
        this.getData();
      },
      methods: {
        currentChange(page) {
          this.page = page;
          this.getData();
        },
        getData() {
          axios
            .get(`/api/list?page=${this.page}`)
            .then(res => res.data)
            .then(({data}) => {
              console.log(data)
              this.fruits = data.fruits;
              this.total = data.pagination.total;
            });
        },
        add () {
          axios.post('/api/add', this.form)
          .then(res => {
            console.log(res.data)
            if (res.data.ok) {
              this.getData()
              this.form = {}
            }
          })
        },
        dele (index) {
          axios.post('/api/dele',{ _id: this.fruits[index]._id })
          .then(res => {
            console.log(res.data)
            if (res.data.ok) {
              this.getData()
            }
          })
        }
      }
    });
  </script>
</body>

</html>